<div class="fullscreen-container">

    <div class="col-5 text-end">
      <img class="my-pic" src="assets/alisha-anjum-aleem.png" alt="">
    </div>
<br>
<div class="center-div">
    <div>
      <h1><a href="/">Hey! Its Alisha Here!</a></h1>
      <h3>I'm a proud cat mom to two adorable felines, Zara and Zuzu. My passion for cooking extends to sharing mouthwatering recipe videos on Instagram. In addition to my culinary pursuits, I enjoy expressing my creativity through digital art and the intricate world of henna tattooing.</h3>
    </div>
  </div>
</div>
