
<!-- your-component.component.html -->
<div class="fullscreen-container">
  <div>
    <h1 class="current-stack">My Current Tech Stack</h1>

  <br>
  <br>
  <div class="container">

    <div class="stack-row">

      <div class="stack-column">
        <p class="technology">Front-End Dev</p>
        <div class="row skill-row">
        <div class="col logo" style="background-image: url('assets/skills/html.png');"></div>
        <div class="col logo" style="background-image: url('assets/skills/angular.png');"></div>
</div>
        <div class="row skill-row">
        <div class="col logo" style="background-image: url('assets/skills/bootstrap.png');"></div>
        <div class="col logo" style="background-image: url('assets/skills/css.png');"></div>
</div>
        <div class="row skill-row">
        <div class="col logo" style="background-image: url('assets/skills/javascript.png');"></div>
        <div class="col logo" style="background-image: url('assets/skills/jquery.png');"></div>
</div>
      </div>


      <div class="stack-column">
        <p class="technology">Back-End Dev</p>
        <div class="row skill-row">
          <div class="col logo" style="background-image: url('assets/skills/python.png');"></div>
          <div class="col logo" style="background-image: url('assets/skills/angular.png');"></div>
  </div>

      </div>


      <div class="stack-column">
        <p class="technology">Database</p>
        <div class="row skill-row">
          <div class="col logo" style="background-image: url('assets/skills/postgresql.png');"></div>
          <div class="col logo" style="background-image: url('assets/skills/sqlserver.png');"></div>
  </div>

      </div>


      <div class="stack-column">
        <p class="technology">DevOps</p>
        <div class="row skill-row">
          <div class="col logo" style="background-image: url('assets/skills/aws.png');"></div>
          <div class="col logo" style="background-image: url('assets/skills/octopus.png');"></div>
  </div>
      </div>

    </div>

    <div class="stack-row" style="margin-top: 20px; display:none">
      <div class="stack-column">
        <p>skills worked previously</p>
      <div class="row skill-row">
        <div class="col logo" style="background-image: url('assets/skills/html.png');"></div>
        <div class="col logo" style="background-image: url('assets/skills/angular.png');"></div>
        <div class="col logo" style="background-image: url('assets/skills/html.png');"></div>
        <div class="col logo" style="background-image: url('assets/skills/angular.png');"></div>
        <div class="col logo" style="background-image: url('assets/skills/html.png');"></div>
        <div class="col logo" style="background-image: url('assets/skills/angular.png');"></div>
      </div>
      </div>
    </div>


    </div>
  </div>
  </div>



